
body {
}

.CodeMirror {
    height: auto;
}

/*.sortable-drag{*/
    /*opacity: 0.1;*/
    /*background-color: #0000cc;*/
/*}*/




[draggable="true"].sortable-ghost{
    background-color: #f8f8f8;
    opacity: 1;
}

[draggable="true"]{
    opacity: 0;
}
