
body {
}

.CodeMirror {
    height: auto;
}

/*.sortable-drag{*/
    /*opacity: 0.1;*/
    /*background-color: #0000cc;*/
/*}*/

.ant-message-notice .ant-message-error{
    color: red;
}

.ant-message-notice-content {
    background: #fffbef;
}

[draggable="true"].sortable-ghost{
    background-color: #f8f8f8;
    opacity: 1;
}

[draggable="true"]{
    opacity: 0;
}
